@import "bootstrap";
@import "sloth/sloth";

// Variables
$sidebar-width: 15em;

$font-name: "Helvetica Neue";

html, body {
  font-family: $font-name, sans-serif;
}

@-webkit-viewport { width: device-width; }
@-moz-viewport    { width: device-width; }
@-ms-viewport     { width: device-width; }
@-o-viewport      { width: device-width; }
@viewport         { width: device-width; }

/*
 * Base structure
 */

/* Move down content because we have a fixed navbar */
body {
  padding-top: $navbar-height;
}

/*
 * Global add-ons
 */

.sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}

/*
 * Top navigation
 * Hide default border to remove 1px line.
 */
.navbar-fixed-top {
  border: 0;
}

a.navbar-brand {
  font-size: 30px;
}

a.nav-icon {
  font-size: 18px;
}


/*
 * Sidebar
 */

/* Hide for mobile, show later */
.sidebar {
  width: $sidebar-width;
  .sidebar-nav-container {
    ul {
      list-style-type: none;

      li {
        span {
          font-size: 24px;
          padding-left: 1em;
          padding-bottom: 0.3em;
        }
      }
    }
  }
}
@media (min-width: 768px) {
  .sidebar {
    position: fixed;
    top: $navbar-height;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color: white;/*#f5f5f5;*/
    border-right: 1px solid #eee;
  }
}

/* Sidebar navigation */
.nav-sidebar {
  margin-right: -21px; /* 20px padding + 1px border */
  margin-bottom: 20px;
  margin-left: -20px;

  & > li > a {
    padding-right: 20px;
    padding-left: 20px;
  }
}

.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
  color: #fff;
  background-color: #428bca;
}

.sidebar ul.sidebar-nav {
    list-style-type: none;
    padding: 0;
    margin-bottom: 20px;
}

.sidebar ul.sidebar-nav li a {
    padding: 4px 0;
    display: block;
}

.sidebar ul.sidebar-nav li a:hover {
  background-color: transparent;
}

.sidebar ul.sidebar-nav ul.sidebar-nav {
    padding-left: 10px;
}

.sidebar ul.sidebar-nav {
    list-style-type: none;
    padding: 0;
}

/*
 * Main content
 */

.main {
  font-size: 18px;
  max-width: 66%;
  padding: 40px;
  margin-left: $sidebar-width;

  img {
    max-width: 90%;
  }

  table {
    thead {
      font-size: 16px;
      border-bottom: 1px solid gray;
    }

    tr {
      margin-right: 5px;
    }

    tbody {
      font-size: 12px;
    }
  }
}
@media (min-width: 768px) {
  .main {
    padding-right: 40px;
    padding-left: 40px;
  }
}

@media (max-width: 768px) {
  .main {
    padding-right: 40px;
    padding-left: 40px;
    max-width: 100%;
    margin-left: 0;
  }
}

.main .page-header {
  margin-top: 0;
}


/*
 * Placeholder dashboard ideas
 */

.placeholders {
  margin-bottom: 30px;
  text-align: center;

  h4 {
    margin-bottom: 0;
  }
}

.placeholder {
  margin-bottom: 20px;

  img {
    display: inline-block;
    border-radius: 50%;
  }
}

/*
 * helpers
 */
.button-wrapper {
  margin: 0 2px 0 2px;
}