group: edge

sudo: required

language: java

jdk:
  - oraclejdk8

addons:
  apt:
    sources:
      - ubuntu-toolchain-r-test

    packages:
      - gcc-4.8
      - g++-4.8
      - gcc-4.8-multilib
      - g++-4.8-multilib
      - python2.7
      - wget
      - pkg-config
      - zip
      - zlib1g-dev
      - google-perftools
      - libgoogle-perftools-dev

env:
  - CC=gcc-4.8 CXX=g++-4.8 CPP=cpp-4.8 CXXCPP=cpp-4.8 ENABLE_HEAPCHECK=1

before_install:
  # download and install bazel
  - wget -q 'https://github.com/bazelbuild/bazel/releases/download/0.23.1/bazel-0.23.1-installer-linux-x86_64.sh'
  - chmod +x bazel-0.23.1-installer-linux-x86_64.sh
  - ./bazel-0.23.1-installer-linux-x86_64.sh --user

before_script:
  # install python module for wheel files
  # required for python packaging
  - sudo pip install wheel

script:
  - which gcc-4.8
  - gcc --version
  - which g++-4.8
  - g++ --version
  - which python
  - python -V
  - which python2.7
  - python2.7 -V
  - scripts/travis/ci.sh
