---

group: edge

dist: bionic

language: java

os: linux

jdk:
  - oraclejdk11

addons:
  apt:
    packages:
      - libtool-bin
      - libcppunit-dev
      - pkg-config
      - python-dev
      - python-wheel
      - wget
      - zip
      - zlib1g-dev
      - google-perftools
      - libgoogle-perftools-dev

env:
  - BAZEL_VERSION=3.0.0 ENABLE_HEAPCHECK=1

before_install:
  # download and install bazel
  - wget -q "https://github.com/bazelbuild/bazel/releases/download/${BAZEL_VERSION}/bazel-${BAZEL_VERSION}-installer-linux-x86_64.sh"
  - chmod +x bazel-${BAZEL_VERSION}-installer-linux-x86_64.sh
  - ./bazel-${BAZEL_VERSION}-installer-linux-x86_64.sh --user

script:
  - which gcc
  - gcc --version
  - which g++
  - g++ --version
  - which python
  - python -V
  - which python2.7
  - python2.7 -V
  - scripts/travis/ci.sh