apiVersion: v1
description: Heron is a fast distributed streaming engine for processing large data volumes with velocity
name: heron
version: VERSION
appVersion: VERSION
icon: https://apache.github.io/incubator-heron/img/HeronTextLogo-small.png
home: http://heron.io
sources:
  - https://github.com/apache/incubator-heron.git
maintainers:
  - name: Karthik Ramasamy
    email: kramasamy@gmail.com
