$base-margin: 1.5rem;
$base-padding: 1rem;
$base-font-size: 18px;
$base-line-height: 1.5;

article.hn-docs-content {
  code {
    color: $heron-blue-green;
    background-color: lighten($light-gray, 25%);
  }

  h1 {
    font-size: $base-font-size * 2;
    margin-bottom: $base-margin * 1.3;
  }

  h2 {
    font-size: $base-font-size * 1.8;
    margin-bottom: $base-margin * 1.2;
  }

  h3 {
    font-size: $base-font-size * 1.6;
    margin-bottom: $base-margin * 1.1;
  }

  h4 {
    font-size: $base-font-size * 1.4;
    margin-bottom: $base-margin;
  }

  img {
    width: 100%;
    margin: $base-margin 0;

    &:hover {
      width: 125%;
    }
  }

  p {
    line-height: $base-line-height;
    font-size: $base-font-size;

    & + p {
      margin-top: $base-margin;
    }

    & + {
      h1, h2, h3, h4 {
        margin-top: $base-margin * 1.5;
      }
    }

    code {
      font-size: inherit;
    }
  }

  blockquote {
    margin: $base-margin 0;
    padding: 20px;
    border-left: .5rem solid $heron-blue-green;
    background-color: lighten($light-gray, 22%);

    h4 {
      font-size: $base-font-size * 1.5;

      & + p {
        margin-top: $base-margin;
      }
    }

    p {
      font-size: $base-font-size * 1.1;
    }

    ul {
      margin-bottom: 0;
    }
  }

  table {
    margin: $base-margin 0;

    thead {
      font-size: $base-font-size * 1.1;
      border-bottom: 1px solid black;

      tr th {
        padding-right: 5%;
      }
    }

    tbody {
      tr {
        border-bottom: 1px solid $light-gray;

        td {
          padding: 1.5% 7.5% 1.5% 0;

          code {
            font-size: $base-font-size;
          }
        }

        &:hover {
          background-color: lighten($light-gray, 27%);
        }
      }
    }
  }

  ol {
    li {
      font-size: $base-font-size * .9;
    }
  }

  ul {
    margin: $base-margin 0;

    li {
      font-size: $base-font-size;
      list-style-type: square;
      padding-bottom: 0;

      ul {
        margin-top: 0;
      }

      & + li {
        margin-top: $base-margin * .15;
      }
    }
  }

  .highlight {
    overflow-x: auto;
    margin: $base-margin * .8 0;

    pre {
      color: $light-gray;
      padding: $base-padding * 1.25;

      code {
        font-size: $base-font-size;
        color: $light-gray;
        background-color: #263238;
      }
    }

    & + {
      h1, h2, h3, h4 {
        margin-top: $base-margin * 1.75;
      }
    }
  }
}
