// Set sans serif font
@import url(https://fonts.googleapis.com/css?family=Open+Sans);
$font-family-sans-serif: "Open Sans", sans-serif;

// Set monospaced font
@import url(https://fonts.googleapis.com/css?family=Inconsolata);
$font-family-monospaced: "Inconsolata", monospace;

// Heron-specific colors
$heron-blue-green:      #4F8992;
$light-gray:            lighten(#9d9d9d, 10%);
$heron-blue-gray:       #263238;

// Dimensions
$docs-main-bottom-margin: 8rem;
