@import "bootstrap";

// Variables
$sidebar-width: 15em;
$light-gray: #9d9d9d;
$dark-gray: #2a2730;
$heron-blue-green: #4F8992;

// Mixins
@mixin vertical-center {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

// Helpers
div[class^="landing-feature"] {
  margin-bottom: 50px;
  margin-left:20px;
  margin-right:20px;
}

// Set global font
html, body {
  font-family: "Open Sans", sans-serif;
}

a {
  color: $heron-blue-green;
}

/* Move down content because we have a fixed navbar */
.hn-main {
  padding-top: $navbar-height;
}

/* Top navbar */
.hn-top-navbar {
  border: 0;
  background-color: $dark-gray;

  .hn-navbar-container {
    padding: 0px 25px;
  }

  a.hn-navbar-logo {
    line-height: 0;
    @include vertical-center();
  }

  a.nav-icon {
    font-size: 18px;
  }

  ul li {
    font-size: 16px;
  }

  i.hn-toggle-button {
    color: $light-gray;
  }
}

.hn-jumbotron {
  border-radius: 0 !important;
  background-color: $dark-gray;

  img.hn-jumbotron-logo {
    margin-bottom: 20px;
  }

  p {
    color: $light-gray;
  }

  .hn-button-row .btn {
    margin: 5px;
  }
}

/*
 * Global add-ons
 */
.sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}

/*
 * Sidebar
 */

/* Hide for mobile, show later */
.sidebar {
  width: $sidebar-width;
  .sidebar-nav-container {
    ul {
      list-style-type: none;

      li {
        span {
          font-size: 24px;
          padding-left: 1em;
          padding-bottom: 0.3em;
        }
      }
    }
  }
}

@media (min-width: 768px) {
  .sidebar {
    position: fixed;
    top: $navbar-height;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color: white;/*#f5f5f5;*/
    border-right: 1px solid #eee;
  }
}

/* Sidebar navigation */
.nav-sidebar {
  margin-right: -21px; /* 20px padding + 1px border */
  margin-bottom: 20px;
  margin-left: -20px;

  & > li > a {
    padding-right: 20px;
    padding-left: 20px;
  }
}

.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
  color: #fff;
  background-color: #428bca;
}

.sidebar ul.sidebar-nav {
    list-style-type: none;
    padding: 0;
    margin-bottom: 20px;
}

.sidebar ul.sidebar-nav li a {
    padding: 4px 0;
    display: block;
}

.sidebar ul.sidebar-nav li a:hover {
  background-color: transparent;
}

.sidebar ul.sidebar-nav ul.sidebar-nav {
    padding-left: 10px;
}

.sidebar ul.sidebar-nav {
    list-style-type: none;
    padding: 0;
}

/*
 * Main content
 */

.main {
  font-size: 18px;
  max-width: 66%;
  padding: 40px;
  margin-left: $sidebar-width;

  img {
    max-width: 90%;
  }

  table {
    thead {
      font-size: 16px;
      border-bottom: 1px solid gray;
    }

    tr {
      margin-right: 5px;
    }

    tbody {
      font-size: 12px;
    }
  }
}

@media (min-width: 768px) {
  .main {
    padding-right: 40px;
    padding-left: 40px;
  }
}

@media (max-width: 768px) {
  .main {
    padding-right: 40px;
    padding-left: 40px;
    max-width: 100%;
    margin-left: 0;
  }
}

.main .page-header {
  margin-top: 0;
}

// Footer
.hn-footer {
  padding-top: 20px;
  padding-bottom: 20px;
  margin-top: 40px;
  color: $light-gray;
  background-color: $dark-gray;

  .hn-footer-links {
    padding-left: 0;
    margin-bottom: 20px;

    li {
      display: inline-block;

      & + li {
        margin-left: 15px;
      }

      a {
        color: #9d9d9d;

        &:hover {
          color: #fff;
          text-decoration: none;
        }
      }
    }
  }
}
