@import "bootstrap";

// Import Open Sans font
@import url(https://fonts.googleapis.com/css?family=Open+Sans);

// Variables
$sidebar-width: 15em;
$light-gray: #9d9d9d;
$dark-gray: #2a2730;
$heron-blue-green: #4F8992;

// Helpers
div[class^="landing-feature"] {
  margin-bottom: 50px;
  margin-left:20px;
  margin-right:20px;
}

// Set global attributes
html, body {
  font-family: "Open Sans", sans-serif;
}

a:hover {
  text-decoration: none;
}

// Move down content because we have a fixed navbar
.hn-main {
  padding-top: $navbar-height;
}

// Top navbar
.hn-top-navbar {
  border: 0;
  background-color: $dark-gray;

  .hn-navbar-container {
    padding: 0px 25px;
  }

  a.hn-navbar-logo {
    padding: 15px;
  }

  a.nav-icon {
    font-size: 18px;
  }

  ul li {
    font-size: 16px;
  }

  i.hn-toggle-button {
    color: $light-gray;
  }
}

// Jumbotron on the index page
.hn-jumbotron {
  border-radius: 0 !important;
  background-color: $dark-gray;

  img.hn-jumbotron-logo {
    margin-bottom: 20px;
  }

  p.hn-tagline {
    font-size: 20px;
    color: $light-gray;
  }

  .hn-button-row .btn {
    margin: 5px;
  }
}

// Sidebar for navigating the docs
.hn-sidebar {
  .hn-sidebar-nav {
    ul {
      list-style-type: none;
      padding: 0;
      margin-bottom: 20px;

      li {
        a {
          padding: 4px 0;
          display: block;

          &:hover {
            background-color: transparent;
          }
        }
      }
    }
  }
}

// Hide sidebar for mobile, show later
@media (min-width: 768px) {
  .hn-sidebar {
    position: fixed;
    top: $navbar-height;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color: white;/*#f5f5f5;*/
    border-right: 1px solid #eee;
  }
}

// Main content on docs pages
.hn-docs-main {
  font-size: 18px;
  max-width: 66%;
  padding: 30px;

  .page-header {
    margin-top: 0;
  }

  p {
    font-size: 0.8em;
  }

  h1 {
    font-size: 1.8em;
  }

  h2 {
    font-size: 1.5em;
  }

  h3 {
    font-size: 1.3em;
  }

  h4 {
    font-size: 1.2em;
  }

  .highlight {
    pre {
      border: 1px solid $light-gray;
      background-color: lighten($light-gray, 35%);
    }
  }

  img {
    max-width: 90%;
  }

  table {
    thead {
      font-size: 16px;
      border-bottom: 1px solid gray;
    }

    tr {
      margin-right: 5px;
    }

    tbody {
      font-size: 12px;
    }
  }
}

@media (min-width: 768px) {
  .hn-docs-main {
    padding-right: 40px;
    padding-left: 40px;
  }
}

@media (max-width: 768px) {
  .hn-docs-main {
    padding-right: 40px;
    padding-left: 40px;
    max-width: 100%;
    margin-left: 0;
  }
}

// Footer on the index page
.hn-footer {
  padding-top: 20px;
  padding-bottom: 20px;
  margin-top: 40px;
  color: $light-gray;
  background-color: $dark-gray;

  .hn-footer-links {
    padding-left: 0;
    margin-bottom: 20px;

    li {
      display: inline-block;

      & + li {
        margin-left: 15px;
      }

      a {
        color: #9d9d9d;

        &:hover {
          color: #fff;
          text-decoration: none;
        }
      }
    }
  }
}
