activate:* --config-path cmd-activate-*                   #command specific
:devcluster/ads/PROD --config-path cmd-invalid     #invalid
submit:devcluster/ads/PROD --config-path cmd-submit-role   #role and command specific
activate:devcluster/ads/PROD --config-path cmd-activate-role   #role and command specific
--config-path hello   #global
*:* --config-path hello-global   #global