click==7.1.2
colorlog==2.6.1
netifaces==0.10.6
PyYAML==3.13
requests==2.27.1
protobuf==3.14.0
setuptools==51.0.0
kazoo==2.8.0
zope.interface==4.0.5
tabulate==0.7.4
fastapi==0.62.0
httpx==0.16.1
javaobj-py3==0.4.1
networkx==2.5
uvicorn==0.11.7
