# scheduler class for distributing the topology for execution
heron.class.scheduler:                       com.twitter.heron.scheduler.kubernetes.KubernetesScheduler

# launcher class for submitting and launching the topology
heron.class.launcher:                        com.twitter.heron.scheduler.kubernetes.KubernetesLauncher

# location of java - pick it up from shell environment
heron.directory.sandbox.java.home:          $JAVA_HOME

heron.directory.conf:                       "/opt/heron/heron-conf/"

heron.directory.home:                       "/opt/heron/heron-core/"

# The URI of kubernetes API
heron.kubernetes.scheduler.uri:             <kubernetes_api_addr>

# Invoke the IScheduler as a library directly
heron.scheduler.is.service:                  False

# docker repo for executor
heron.executor.docker.image:                'ndustrialio/heron-core:latest'
