# For centos
# To use it: bazel build --config=centos
build:centos --java_toolchain=//tools/java:heron_java_toolchain 
build:centos --ignore_unsupported_sandboxing
build:centos --python2_path /usr/bin/python2.7
build:centos --linkopt -lm
build:centos --linkopt -lpthread
build:centos --linkopt -lunwind
build:centos --linkopt -lrt

# For Mac
# To use it: bazel build --config=darwin
build:darwin --python2_path /usr/bin/python2.7
build:darwin --java_toolchain=//tools/java:heron_java_toolchain 

# For Ubuntu
# To use it: bazel build --config=ubuntu
build:centos --java_toolchain=//tools/java:heron_java_toolchain 
build:centos --ignore_unsupported_sandboxing
build:centos --python2_path /usr/bin/python2.7
build:centos --linkopt -lm
build:centos --linkopt -lpthread
build:centos --linkopt -lunwind
build:centos --linkopt -lrt
