<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0
                          http://maven.apache.org/xsd/settings-1.0.0.xsd">
  <localRepository>${user.home}/.m2/repository</localRepository>

  <profiles>
    <profile>
      <id>public</id>
      <repositories>
        <repository>
          <id>twitter-artifactory</id>
          <name>Twitter Artifactory</name>
          <url>http://artifactory.twitter.biz/repo/</url>
        </repository>
        <repository>
          <id>maven-central</id>
          <name>Maven Central</name>
          <url>http://central.maven.org/maven2/</url>
        </repository>
        <repository>
          <!-- required for patched libthrift 0.5.0-1 -->
          <id>twitter-maven</id>
          <name>Twitter Maven</name>
          <url>http://maven.twttr.com</url>
        </repository>
      </repositories>
    </profile>
  </profiles>

  <activeProfiles>
    <activeProfile>public</activeProfile>
  </activeProfiles>
</settings>