baseurl: http://docs.sloth.com/
languageCode: en-us
title: Heron
author: Luc Perkins

# Site-level config
MetaDataFormat: yaml
NewContentEditor: atom
taxonomies:
  tag: tags

# Pygments syntax highlighting
pygmentsStyle: manni
pygmentsuseclasses: false
PygmentsCodeFences: true

# Top navigation menu (weights are to prevent alphabetical ordering)
menu:
  main:
    - Name: Getting Started
      URL: /docs/developers/getting-started
      Weight: 1
    - Name: Docs
      URL: /docs
      Weight: 2

# Site-level parameters available through .Site.Params.{key}
params:
  author: Luc Perkins
  versions:
    metricsapi: 0.1.0
    schedulerapi: 0.1.0
    topologyapi: 0.1.0
  assets:
    logo: /img/logo54x54.png #logo.png
    css:
      - /css/style.min.css
    js:
      - //code.jquery.com/jquery-2.2.1.min.js
      - /js/app.min.js
  bazelVersion: 0.1.2
  tagline: Realtime, Distributed, Fault-Tolerant Stream Processing
