languageCode: en-us
title: Heron
author: Luc Perkins
canonifyurls: true
baseurl: /heron

# Site-level config
metadataformat: yaml
newcontenteditor: atom
taxonomies:
  tag: tags

# Pygments syntax highlighting
pygmentsstyle: monokai
pygmentsuseclasses: false
pygmentscodefences: true

# Site-level parameters available through .Site.Params.{key}
params:
  author: Twitter, Inc.
  description: A realtime, distributed, fault-tolerant stream processing engine from Twitter
  versions:
    heron: 0.14.5
    bazel: 0.3.1
  assets:
    favicon:
      small: /img/favicon-16x16.png
      large: /img/favicon-32x32.png
    logo: /img/logo54x54.png #logo.png
    textlogo: /img/HeronTextLogo.png #logo.png
    textLogoSmall: /img/HeronTextLogo-small.png #logo.png
    css:
      - /css/style.min.css
      - /css/font-awesome.min.css
      - /css/pygments.css
    js:
      - https://code.jquery.com/jquery-2.2.1.min.js
      - /js/app.min.js
  tagline: A realtime, distributed, fault-tolerant stream processing engine from Twitter
  github:
    home: https://github.com/twitter/heron
    master: https://github.com/twitter/heron/tree/master
    issues: https://github.com/twitter/heron/issues
  social:
    twitter: https://twitter.com/heronstreaming
    slack: https://heronusers.slack.com
    googleGroup: https://groups.google.com/forum/#!forum/heron-users
  seo:
    opengraph:
      - property: locale
        content: en_US
      - property: type
        content: article
    twittercards:
      - name: card
        content: summary
      - name: site
        content: "@heronstreaming"
